@font-face {
  font-family: "Inter";
  src: url(../../static/fonts/Inter-400.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../static/fonts/Inter-500.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../../static/fonts/Inter-600.woff);
  font-weight: 600;
}

/* fix the content height issue */
.sid-theme-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
