.host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  line-height: 118%;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgba(20, 32, 73, 0.06);
  border-radius: 16px;
  padding: 10.5px 16px;
  width: fit-content;
  color: var(--ifm-color-gray-900);
  background-color: var(--ifm-color-secondary);
}

.button:hover {
  cursor: pointer;
  background-color: var(--ifm-color-secondary-dark);
}
