.host {
  padding: 12px 18px;

  width: 100%;
  height: 50px;

  position: relative;

  background-color: hsla(222, 88%, 58%, 1);

  border-radius: 4px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  font-weight: 500;

  color: hsla(0, 0%, 100%, 1);

  transition: all 0.2s ease-in-out;
}

.host.small {
  padding: 5px 10px;

  height: 40px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.host.secondary {
  background-color: hsla(217, 100%, 99%, 1);

  border: 2px solid hsla(222, 88%, 58%, 1);

  color: hsla(222, 88%, 58%, 1);
}

.host:hover {
  background-color: hsla(222, 88%, 52%, 1);
}

.host:focus {
  background-color: hsla(225, 100%, 68%, 1);

  box-shadow: 0px 0px 0px 1px hsla(222, 88%, 46%, 1);
}

.host.secondary:hover {
  background-color: hsla(217, 100%, 98%, 1);
}

.host:disabled {
  background-color: hsla(217, 100%, 98%, 1);

  cursor: not-allowed;

  color: hsla(217, 100%, 87%, 1);
}

.host.loading {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.spinnerWrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.google > div {
  margin-right: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
